body {
	background-color: #EEE;
}

hr {
	border: 0px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid white;
	margin: 0px;
}

.no-margin {
	margin: 0px;
}

.alert {
	font-size: 13px;
}
/*===============================*/
#top-bar {
	background-color: #EEE;
	height: 140px;
}

#top-bar .logo {
	width: 220px;
	margin-top: 24px;
	margin-left: 10px;
}

#top-bar .user-bar {
	margin-top: 10px;
}
/*=================================*/
#sidebar {
	background-color: #EEE;
	border-right: 0.5px solid #CCC;
	height: 400px;
	width: 239px;
}

#sidebar hr {
	width: 80%;
}

#sidebar li {
	line-height: 40px;
}

#sidebar li a {
	font-size: 20px;
}

#sidebar .nav-list [class^="icon-"], .nav-list [class*=" icon-"] {
 	margin-right: 20px;
 	vertical-align: top;
 }

#sidebar .sidebar-icon {
	color:black;
	font-size: 30px;
}
/*============================*/
#main-content {
	background-color: white;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding: 20px 40px;
	width: 619px;
	margin-bottom: 40px;
}